<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bases.css">
    <link rel="stylesheet" href="css/navbar.css">
    <title>Document</title>
</head>
<body>
    

    <!-- header for HP only -->
    <header class="header">
        <h1>Header</h1>
    </header>
    
    <!-- navbar -->
    <nav class="sticky navbar">
        <div class="brand  display__logo">
            <a href="index.html#home" class="nav__link"> <img src="images/long Logo.png" alt=""></a>
        </div>
    
        <input type="checkbox" id="nav" class="hidden" />
        <label for="nav" class="nav__open"><i></i><i></i><i></i></label>
        <div class="nav">
            <ul class="nav__items">
                <li class="nav__item"><a href="index.html#home" class="nav__link">الرئيسية</a></li>
                <li class="nav__item"><a href="#" class="nav__link">معروضاتنا</a></li>
                <li class="nav__item"><a href="#" class="nav__link">من نحن</a></li>
                <li class="nav__item"><a href="#" class="nav__link">تواصل معنا</a></li>
            </ul>
        </div>
    </nav>
    
    <!-- <main>
        <section class="home" style="height: 100vh;">
            <div id="home">
                <h1>Home</h1>
            </div>
        </section>
        <section class="about">
            <div id="about">
                <h1>About</h1>
            </div>
        </section>
        <section class="portfolio">
            <div id="portfolio">
                <h1>Portfolio</h1>
            </div>
        </section>
        <section class="contact">
            <div id="contact">
                <h1>Contact</h1>
            </div>
        </section>
    </main>
    
    <footer class="footer">
        <h1>Footer</h1>
    </footer> -->

</body>
</html>