@import url(bases.css);

.card {
  background-color: var(--section-bg-2) !important;
  color: var(--text-color);
}

.total {
  background-color: var(--section-bg-1) !important;
  border-radius: 10px;
  border: 1px solid var(--section-bg-2);
}
h6 {
  color: var(--text-color2) !important;
}
.text-muted {
  color: var(--text-color2) !important;
  opacity: 0.5 !important ;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}
