@import url(bases.css);


.ftco-section {
    background-color: var(--section-bg-1);

}

.ftco-section .container {
    padding: 70px 0 !important;
}

.heading-section {
    color: var(--text-color2);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.wrapper {
    background-color: var(--background-color);
    /* box-shadow: var(--card-shadow); */
    border-radius: 12px;
    padding: 40px;
    /* max-width: 900px; */
    margin: 0 auto;
}

.contact-wrap {
    background-color: var(--section-bg-1);
    box-shadow: var(--card-shadow);
    padding: 20px;
    border-radius: 12px;
}

.contact-wrap h3 {
    color: var(--text-color2);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contactForm .form-control {
    background-color: var(--background-color);
    border: 1px solid var(--section-bg-1);
    border-radius: 8px;
    padding: 12px;
    color: var(--text-color);
    transition: border-color 0.2s, box-shadow 0.2s;
}
.contactForm .form-control::placeholder {
    color: var(--text-color);
    opacity: 0.3;
}

.form-label {
    color: var(--text-color);
}
.contactForm .form-control:focus {
    box-shadow: var(--input-focus-shadow);
    border-color: var(--button-bg-color);
}

input.btn.button-primary {
    background-color: var(--background-color) !important;
    border-color: transparent;
    color: var(--text-color2);
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: var(--button-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-weight: 600;
}

input.btn.button-primary:hover {
    background-color: var(--section-bg-2) !important;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.dbox {
    background-color: var(--section-bg-1);
    color: var(--text-color);
    border-radius: 12px;
    padding: 15px;
    box-shadow: var(--card-shadow);
    transition: box-shadow 0.3s;
}

.dbox:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.dbox .icon {
    color: var(--heading-color);
    font-size: 1.8rem;
}

.dbox .text p span {
    color: var(--text-color2);
    font-weight: 600;
}

#map {
    height: 300px;
    border-radius: 12px;
    background-color: var(--section-bg-1);
}

input.btn.button-primary {
    width: 100%;
}

i {
    color: var(--text-color2);
}




