
.types {
  background-color: var(--section-bg-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.typesGrid {
  place-content: center;
  min-height: 460px;
  width: 100%;
  height: 90vh;
  padding: max(2vh, 1.5rem);
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "first first third third fourth fourth fourth"
    "second second third third fifth sixth sixth"; 
}

.first { grid-area: first; }
.second { grid-area: second; }
.third { grid-area: third; }
.fourth { grid-area: fourth; }
.fifth { grid-area: fifth; }
.sixth { grid-area: sixth; }

@media screen and (max-width: 1250px) {
  .typesGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ; 
    grid-template-areas: 
    "first first second second third third  "
    "fourth fourth fifth fifth sixth sixth"; 
  }
}
@media screen and (max-width: 768px) {
  .typesGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr  ; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
    "first first second second "
    "third third fourth fourth"
    "fifth fifth sixth sixth"; 
  }
}

@media screen and (max-width: 470px) {
  .typesGrid{
    height: 120vh;
    grid-template-columns: 1fr 1fr   ; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    "first first"
    "second second "
    "third third "
    "fourth fourth"
    "fifth fifth"
    "sixth sixth"; 
}
}

.card {
  border-radius: 25px;
  box-shadow: -2px 4px 15px rgb(0 0 0 / 26%);
  margin: 10px;
  overflow: hidden; 
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border-radius: 25px; 
}

.card__img {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.card__img .card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: ivory;
  padding: clamp(0.938rem, 5vw, 1.563rem);
  background: rgb(2, 2, 46);
  background: linear-gradient(0deg, rgb(0 0 0 / 57%) 0%, rgb(255 255 255 / 0%) 100%);
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.card p {
  font-size: clamp(0.9rem, 0.8750rem + 0.1250vw, 1rem);
  line-height: 1.4;
  
}


.card__img span {
  position: absolute;
  top: 25px;
  left: min(2vmax, 1.563rem);
  color: #ff7b29;
  background: #fff;
  border-radius: 50px;
  padding: 2px 8px 2px 6px;
  display: flex;
  box-shadow: 0px 1px 20px #0000002b;
}

@media screen and (max-width: 690px) {
  .card__img span {
    top: 20px;
  }
}

@media screen and (max-width: 470px) {
  .card__img span {
    top: 15px;
  }
}

.card__img span svg {
  fill: #ff7b29;
  width: 20px;
  margin-right: 2px;
}
