@import url('./navbar.css');
@import url('./footer.css');


.faq {
  margin-top: 70px;
  height: fit-content;
  background-color: var(--section-bg-1) ;
  color: var(--text-color2);
  text-align: justify;
}


.faq p {
  color: var(--text-color);
  font-weight: 500;

}

.faqBtn  {
  background-color: var(--background-color) !important; 
  color: var(--text-color) !important;
  border: none;
}

.text-muted {
  color: var(--text-color) !important;
}

.faqs .accordion .accordion-item .accordion-button {
  background-color: var(--background-color) !important; 
  color: var(--text-color2) !important;
  text-align: right;
  }

  .accordion-button::after {
    margin-left: 0 !important; 
    margin-right: auto !important;
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%238B5A2B" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%238B5A2B" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center;
  transform: rotate(-90deg);
}

.accordion-button {
    text-align: right; 
}


.faqCat {
  width: 90%;
}

.text-muted {
  color: var(--text-color2) !important;
  padding-left: 10px;
}

.accordion-body {
  background-color: var(--section-bg-3);
  color: var(--text-color);
}


@media screen and (max-width: 768px) {

  .faqContact {
    text-align: center;
  }
  
  .text-muted {
    color: var(--text-color2) !important;
    margin: 0 !important;
  }
  
} 