@import url(bases.css);





#container {

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--section-bg-1);
  padding: 100px;
}

.form-wrapper {
  position: relative;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 120px;
  background: var(--background-color); 
  box-shadow: var(--card-shadow); 
  overflow: hidden;
}

.form.login-form {
  position: absolute;
  left: 50%;
  bottom: -86%;
  transform: translateX(-50%);
  width: calc(100% + 220px);
  padding: 20px 140px;
  border-radius: 50%;
  height: 100%;
  background: var(--section-bg-2); 
  transition: all 0.6s ease;
  border: 1px solid var(--border-color);
}

.form-wrapper.active .form.login-form {
  bottom: -12.5%;
  border-radius: 35%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form header {
  font-size: 30px;
  text-align: center;
  color: var(--text-color); 
  font-weight: 600;
  cursor: pointer;
}

.form.login-form header {
  color: var(--text-color); 
  opacity: 0.6;
}

.form-wrapper.active .form.login-form header {
  opacity: 1;
}

.form-wrapper.active .signup-form header {
  opacity: 0.6;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

form input {
  height: 45px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color); 
  border-radius: 8px;
  background: var(--section-bg-1); 
}

.form.login-form input {
  border: 1px solid var(--text-color); 
}

.form.login-form input:focus {
  box-shadow: 0 1px 0 var(--border-color); 
}

form .signup-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signup-checkbox input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: var(--section-bg-1); 
  cursor: pointer;
}

input::placeholder {
  color: var(--text-color2);
}

.signup-checkbox label {
  cursor: pointer;
  color: var(--text-color); 
}

form a {
  color: var(--text-color); 
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}





input.button-success {
  background-color: var(--button-bg-color) !important;
  border-color: transparent;
  color: var(--text-color2);
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: var(--button-shadow);
  transition: background-color 0.3s, box-shadow 0.3s;
  font-weight: 600;
}

input.button-success:hover {
  background-color: var(--section-bg-2) !important;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}