@import url(bases.css);

h2 {
    text-align: center;
    font-size: 18px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */
.fl-table, .details-table {
    border-radius: 5px;
    font-size: 1em;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: var(--background-color);
}

.fl-table td, .fl-table th, .details-table td, .details-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
}

.details-table td {
    border-right: 1px solid #f0f0f0;
}

.fl-table td img, .details-table td img {
    width: 3.5em;
    height: 3.5em;
    object-fit: fill;
    border-radius: 50px;
}

.fl-table thead th, .details-table thead th {
    color: var(--text-color2);
    background: var(--button-bg-color);
}

.fl-table thead th:nth-child(odd), .details-table thead th:nth-child(odd) {
    color: var(--section-bg-2);
    background: var(--text-color2);
}

.fl-table tr:nth-child(even), .details-table tr:nth-child(even) {
    background-color: var(--background-color);
}

/* Responsive Styles */
@media (max-width: 767px) {
    .table-wrapper {
        overflow-x: auto;
    }

    .fl-table, .details-table {
        display: table;
        width: 100%;
        border: none;
        border-collapse: collapse;
    }

    .fl-table td, .fl-table th, .details-table td, .details-table th {
        text-align: left;
        padding: 10px;
        white-space: nowrap;
    }

    .details-row {
        display: table-row; /* Make sure details rows are visible */
    }

    .details-row.hidden {
        display: none; /* Hide details rows by default */
    }

    .fl-table tr, .details-table tr {
        display: table-row;
    }
}
